/* Media queries
----------------------------------------
Mobile - 375px
-------------- */
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .top-bar {
    width: 375px;
    height: 48px;
    padding: 0 16px 0 30px;
    justify-content: space-between;
  }
  .menu-icon-mobile {
    display: block;
    /* padding-right: 88px; */
  }
  .menu-icon-mobile img {
    width: 18px;
    height: 12px;
  }
  .nav-list {
    width: 375px;
    display: none;
  }
  .venia-logo img {
    width: 78px;
    height: 18px;
  }
  .cart-icon img {
    width: 22px;
    height: 24px;
  }
  .category {
    flex-direction: column;
    width: 375px;
    height: 284px;
  }
  .category-title {
    order: 2;
    width: 343px;
    height: 159px;
    margin-top: -68px;
    margin-left: 16px;
    padding: 24px 83px 32px 84px;
    font-size: 36px;
  }
  .category-title::after {
    content: "";
    display: block;
    width: 102px;
    height: 8px;
    background-color: #1363df;
    margin-top: 12px;
    margin-left: 37px;
  }
  .category-image {
    order: 1;
  }
  .category-image img {
    width: 375px;
    height: 193px;
    margin: 0;
  }
  .breadcrumbs-resultscount-sortby {
    width: 375px;
    padding: 0;
    margin: 0;
  }
  .breadcrumbs-resultscount-sortby,
  .filters-container {
    display: none;
  }
  .filters-sort-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
  }
  .breadcrumbs-mobile {
    width: 339px;
    height: 20px;
    margin: 24px 20px 32px 16px;
  }
  .filter-for-mobile,
  .sort-by-mobile {
    color: #181c24;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    display: flex;
    height: 20px;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .filter-for-mobile img,
  .sort-by-mobile img {
    width: 16px;
    height: 16px;
  }
  .filter-for-mobile {
    width: 121px;
    margin-left: 51px;
    margin-right: 32px;
  }
  .sort-by-mobile {
    width: 129px;
    margin-right: 42px;
  }
  .resultscount-mobile {
    width: 343px;
    padding-left: 34px;
    margin: 32px 16px 32px 16px;
    text-align: center;
  }
  .main-container {
    width: 375px;
    padding: 0 0 66px 0;
  }
  .loading-container {
    font-size: 58px;
    text-align: center;
    width: 375px;
    margin: 20px 0 0 0;
  }
  .products-container {
    width: 375px;
    padding: 0 11px 0 16px;
  }
  .products-builder {
    width: 375px;
    gap: 21px;
    flex-wrap: wrap;
  }
  .product {
    width: 164px;
    height: 308px;
    margin-top: 16px;
  }
  .product-image img {
    width: 164px;
    height: 196px;
  }
  .product-title {
    padding-top: 8px;
    font-size: 16px;
  }
  .product-price {
    padding-top: 6px;
  }
}
